<% table ||= nil %>
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= table.nil? ? "All Tables" : table.title %></title>
    <script type="text/javascript"
            src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1")
    </script>
    <%= stylesheet_link_tag "/stylesheets/stylesheet.css", :media=>"screen" %>
    <%= javascript_script_tag "/javascripts/application.js" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
