<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>TableSetter</title>
    <link rel="stylesheet" type="text/css" href="documentation/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="documentation/css/dawn.css" />
  </head>
  
  <body>
    <a href="http://www.propublica.org" class="propublica">&nbsp;</a>
    <h1>TableSetter <small>&ndash; Version: <%= 
    config = YAML.load(File.read('VERSION.yml'))
    "#{config[:major]}.#{config[:minor]}.#{config[:patch]}"
    %></small></h1>
    <p><strong>TableSetter</strong> is a sinatra app which provides an easy way to present CSVs hosted locally or remotely in custom HTML. For example given a simple configuration file, <strong>TableSetter</strong> can show <a href="tk">a list of all stimulus projects from last year</a>, <a href="tk">the stimulus spending progress</a>, or <a href="tk">a list of failed banks due to the last recession</a>.</p>
    <h2><a name="toc">Table of Contents</a></h2>
    <ul>
      <li><a href="#installation">Installation</a></li>
      <li><a href="#usage">Usage</a></li>
      <li><a href="#deployment">Deployment</a></li>
      <li><a href="#rails">Rails</a></li>
      <li><a href="#links">Links</a></li>
      <li><a href="#credits">Credits</a></li>
      <li><a href="#license">License</a></li>
    </ul>
    <h2><a name="installation" href="#toc">Installation</a></h2>
    <p></p>
    <h2><a name="deployment" href="#toc">Deployment</a></h2>
    <h3>Heroku</h3>
    <p></p>
    <h3>Passenger</h3>
    <p></p>
    <h2><a name="rails" href="#toc">Rails</a></h2>
    <h2><a name="links" href="#toc">Links</a></h2>
    <ul>
      <li><a href="http://github.com/propublica/table-fu">TableFu</a><br>
        A gem that provides the conceptual backend to <strong>TableSetter</strong>.</li>
      <li><a href="http://www.modrails.com/documentation/Users%20guide.html#_deploying_a_rack_based_ruby_application">Passenger Documentation</a><br>
        The Passenger Documention section on how to deploy a rack app under passenger.</li>
      <li><a href="http://docs.heroku.com/rack">Heroku Documentation</a><br>
        How to deploy a rack app in heroku.</li>
      <li><a href="http://github.com/propublica/table-fu/issues">Issues</a><br>
        The github issue tracker. Post bug reports and feature requests here.</li>
    </ul>
    <h2><a name="credits" href="#toc">Credits</a></h2>
    <p><a href="http://github.com/thejefflarson">Jeff Larson</a> (Maintainer), <a href="http://github.com/brianboyer/">Brian Boyer</a>, <a href="http://github.com/kleinmatic">Scott Klein</a>, <a href="http://github.com/markpercival">Mark Percival</a>, and <a href="http://github.com/seebq">Charles Brian Quinn</a>.</p>
    <h2><a name="license" href="#toc">License</a></h2>
    <pre><%= File.open("LICENSE").read %></pre>
  </body>
</html>